<div class="container">
  <div class="row">
    <div class="col-8">
<% @posts.each do |post|%>
<div class="insta-post">
<div class="post-meta">
  <%= link_to post.user.username, account_path(post.user.id) %>
</div>
<%=link_to post_path(post) do %>
<%=image_tag post.image, class: "img img-fluid" %>
<% end %>

</div>
<% end %>
</div>
</div>
</div>
